<section class="page-section" id="contact">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 text-center"><br>
                <h2 class="mt-0">¡Mantengámonos en contacto!</h2>
                <br>
                <p class="text-muted mb-5">¿Listo para comenzar tu próximo proyecto con nosotros? ¡Llámanos o envíanos un correo electrónico y nos comunicaremos contigo lo antes posible!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 ml-auto text-center mb-5 mb-lg-0">
                <i class="fa fa-phone fa-3x mb-3 text-muted"></i>
                <div>+1 (555) 123-4567</div>
            </div>
            <div class="col-lg-4 mr-auto text-center">
                <i class="fa fa-envelope fa-3x mb-3 text-muted"></i>
                <a class="d-block" href="mailto:contact@yourwebsite.com">contact@tucarrera-peru.com</a>
            </div>
        </div>
    </div>
    <hr class="divider my-4">
    <div class="container contact-form">
        <form method="post">
            <h3>Déjanos un mensaje</h3>
            <div class="form-row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input class="form-control" type="text" name="txtName"  placeholder="Tu nombre *" value="" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="email" name="txtEmail"  placeholder="Tu correo electrónico *" value="" required/>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="txtPhone"  placeholder="Su número de teléfono *" value="" required/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <textarea class="form-control" name="txtMsg"  placeholder="Tu mensaje *" style="width: 100%; height: 150px;"></textarea>
                    </div>
                </div>
                <button type="submit" name="submit" class="btn-base black">Enviar mensaje</button>
            </div>
        </form>
    </div><br>
</section>