<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="../../../assets/Logo.png" width="150" height="35" class="d-inline-block align-top" alt="Logo">
    </a>
  </nav> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active">Inicio</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/test' ]" routerLinkActive="active">Test vocacional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/contacto' ]" routerLinkActive="active">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/blog' ]" routerLinkActive="active">Blog</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-1" type="search" placeholder="Ingrese búsqueda..." aria-label="Search">
            <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>


<carousel *ngIf="!carousel">
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/6.jpg" alt="first slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>First slide label</h3>
      <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
    </div>
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/4.jpg" alt="second slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Second slide label</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
  </slide>
  <slide>
    <img src="https://valor-software.com/ngx-bootstrap/assets/images/nature/5.jpg" alt="third slide" style="display: block; width: 100%;">
    <div class="carousel-caption d-none d-md-block">
      <h3>Third slide label</h3>
      <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
    </div>
  </slide>
</carousel>
