<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand">
      <img src="../../../assets/Logo.png" width="150" height="35" class="d-inline-block align-top" alt="Logo">
    </a>
  </nav> 
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation" (click)="isCollapsed = !isCollapsed">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" [collapse]=isCollapsed>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="[ '/' ]" routerLinkActive="active">Inicio</a>
        </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/test' ]" routerLinkActive="active">Test vocacional</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/contacto' ]" routerLinkActive="active">Contáctanos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="[ '/blog' ]" routerLinkActive="active">Blog</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-1" type="search" placeholder="Ingrese búsqueda..." aria-label="Search">
            <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
    </div>
</nav>

<div class="slippry mt-5">
  <li>
    <h3 class="left-title top_80">¿ No sabes que estudiar ?</h3>
    <p class="left top_120">Aquí te podemos ayudar</p>
    <button class="left top_200 black">Escríbenos</button>
    <img src="../../../assets/imgs/portada1.png" alt="" style="width: 100%;">
  </li>
</div>
<!-- <img src="../../../assets/imgs/portada1.png" alt="Slide número 1"> -->