<br><br><br><br><br>
<div class="row">
  <div class="">
    <h1>Empieza hoy con tu <strong>Test Vocacional</strong></h1>
  </div>
  <div class="col-md-8">
    <form [formGroup]="registroForm" (ngSubmit)="post()" style="margin-top: 7rem;">
      <div class="form-group">
        <input  class="form-control" formControlName="nombres" type="text" placeholder="Nombre completo"  [ngClass]="{ 'is-invalid': f.nombres.touched && f.nombres.errors }">
      </div>
      <div class="form-group">
        <input  class="form-control" formControlName="email" type="email" placeholder="Correo electrónico" [pattern]="emailPattern" [ngClass]="{ 'is-invalid': f.email.touched && f.email.errors }">
      </div>
      <div class="form-group">
        <input  class="form-control" formControlName="celular" type="text" placeholder="Celular">
      </div>
      <div class="form-group">
        <input  class="form-control" formControlName="colegio" type="text" placeholder="Colegio">
      </div>
      <div class="form-group">
        <input  class="form-control" formControlName="localidad" type="text" placeholder="Localidad">
      </div>
      <button [disabled]="registroForm.invalid" type="submit" class="btn btn-warning btn-lg">Siguiente</button>
  </form>
  </div>
  <div class="col-md-4">
    <img src="https://img.pngio.com/animated-student-group-with-81-items-animated-student-png-512_512.png" alt="Imagen de estudiante">
  </div>
</div>
