<main>
    <picture>
        <source media="(min-width:1300px)" srcset="../../../assets/imgs/blog/header.jpg" />
        <source media="(min-width:1000px)" srcset="../../../assets/imgs/blog/header.jpg" />
        <img src="../../../assets/imgs/blog/header.jpg" alt="Imagen Blog" />
    </picture>
    <div class="container"><br><br><br>
        <div class="heading text-center">
            <h4>Blog</h4>
        </div>
    </div>
    <div class="row h-100 align-items-center justify-content-center text-center">
        <!-- <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase font-weight-bold">Bienvenido a nuestro Blog</h1>
            <hr class="divider my-4">
        </div> -->
        <div class="align-self-baseline">
            <!-- <p class="form-control">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p> -->
            <h5 class="h5-blog">Universidades Peruanas Licenciadas por la SUNEDU</h5><br>
    <a class="top_200 black btn-base" target="_blank" href="https://www.sunedu.gob.pe/lista-de-universidades-licenciadas/">Ver Todas las Universidades</a>
        </div>
    </div>
    <div class="timeline-blog">
        <ul>
            <li>
                <div class="content-blog">
                    <h3>Pontificia Universidad Católica del Perú</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>6 Julio 2016</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Católica de Santa María</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>31 Diciembre 2017</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Católica San Pablo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>22 Octubre 2017</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad César Vallejo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>12 Junio 2019</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional de Ingeniería</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>28 Noviembre 2017</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional de Juliaca</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>26 Agosto 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional de San Agustín</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>27 Agosto 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional Mayor de San Marcos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>04 Abril 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad La Salle</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>19 Enero 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Peruana Unión</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>07 Junio 2018</h4>
                </div>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>
</main>

<br><br><br>

<div class="card-deck">
    <h2>Tipos de Universidades</h2>
    <p>Podemos comenzar a clasificar las universidades en sus dos principales características: Éstas pueden ser Públicas o Privadas, a continuación te explicamos de qué se trata cada una.</p>
    <h4>Universidades Públicas</h4>
    <p>Las Universidades Públicas son financiadas por el Gobierno, misma razón por la que son las más económicas, pues según cada institución educativa puede ser completamente gratuita o tendrás que pagar únicamente una cuota por derechos de matrícula cada ciclo escolar.</p>
    <p>Esto no quiere decir que estudiar en una Universidad Pública sea fácil o que la calidad sea menor, pues en muchos casos estas Universidades cuentan con diversos reconocimientos y licenciamientos, así como suelen aparecer entre las Mejores Universidades en diversos Rankings.</p>
    <h4>Universidades Privadas</h4>
    <p>Las Universidades Privadas son aquellas que obtienen sus propios ingresos, es decir, no son financiadas por el Gobierno. Estos ingresos los obtienen de las Cuotas que se cobran a los alumnos, o que pueden proceder de instituciones de Particulares externas a la Universidad.</p>
    <p>Es por eso que esta opción suele ser más costosa a diferencia de las Públicas. Sin embargo estos ingresos suelen reflejarse en los equipos e instalaciones de la Universidad así como en la capacitación del Personal Docente. Contando con infraestructura más adecuada, además de ofrecer otros beneficios a sus estudiantes.</p>
    <p>De igual manera existen instituciones como estas compitiendo con universidades Públicas en los Rankings de mejores Universidades del Perú así como cuentan con reconocimientos y licenciamientos importantes.</p>
   <!--  <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="..." alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
      </div>
      <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
      </div>
    </div> -->
  </div>