<main>
    <picture>
        <source media="(min-width:1300px)" srcset="../../../assets/imgs/blog/header.jpg" />
        <source media="(min-width:1000px)" srcset="../../../assets/imgs/blog/header.jpg" />
        <img src="../../../assets/imgs/blog/header.jpg" alt="Imagen Blog" />
    </picture>
    <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
            <h1 class="text-uppercase text-white font-weight-bold">Your Favorite Source of Free Bootstrap Themes</h1>
            <hr class="divider my-4">
        </div>
        <div class="align-self-baseline">
            <p class="text-black-75 font-weight-light mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
            <h5 class="h5-blog">Universidades Peruanas Licenciadas por la SUNEDU <small>(Superintendencia Nacional de Educación Superior Universitaria)</small></h5>
            <a class="btn btn-primary btn-xl js-scroll-trigger" target="#" href="https://www.sunedu.gob.pe/lista-de-universidades-licenciadas/">Ver Todas las Universidades</a>
        </div>
    </div>
    <div class="timeline-blog">
        <ul>
            <li>
                <div class="content-blog">
                    <h3>Pontificia Universidad Católica del Perú</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>6 Julio 2016</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Católica de Santa María</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>31 Diciembre 2017</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Católica San Pablo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>22 Octubre 2017</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad César Vallejo</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>12 Junio 2019</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional de Ingeniería</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>28 Noviembre 2017</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional de Juliaca</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>26 Agosto 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional de San Agustín</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>27 Agosto 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Nacional Mayor de San Marcos</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>04 Abril 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad La Salle</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>19 Enero 2018</h4>
                </div>
            </li>
            <li>
                <div class="content-blog">
                    <h3>Universidad Peruana Unión</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus velit officia totam ad minus iusto iste. Repellendus tempora nobis voluptates fugit, magni quia, dolor, deleniti neque quibusdam alias magnam officiis?</p>
                </div>
                <div class="time-blog">
                    <h4>07 Junio 2018</h4>
                </div>
            </li>
            <div style="clear: both;"></div>
        </ul>
    </div>
</main>