img {
    width: 100%;
}

body
{
    margin: 0;
    padding: 0;
    font-family: 'Poppins','Roboto', sans-serif;

}

.h5-blog {
    color: black;
}

.timeline-blog {
    position: relative;
    margin: 50px auto;
    padding: 40px 0;
    width: 1000px;
    box-sizing: border-box;
}

.timeline-blog:before {
    content: '';
    position: absolute;
    left: 50%;
    width: 2px;
    height: 100%;
    background: #c5d5d5;
}

.timeline-blog ul {
    margin: 0;
    padding: 0;

}

.timeline-blog ul li {
    list-style: none;
    position: relative;
    width: 50%;
    padding: 20px 40px;
    box-sizing: border-box;
}

.timeline-blog ul li:nth-child(odd) {
    float: left;
    clear: both;
    text-align: right;

}

.timeline-blog ul li:nth-child(even) {
    float: right;
    clear: both;
    text-align: left;
    
}

.content-blog {
    padding-bottom: 20px;
    
}

.timeline-blog ul li:nth-child(odd):before{
    content: '';
    position: absolute;
    top: 24px;
    right: -6px;
    width: 10px;
    height: 10px;
    background: #fd7e14;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #9bc4f3;
}

.timeline-blog ul li:nth-child(even):before{
    content: '';
    position: absolute;
    top: 24px;
    left: -4px;
    width: 10px;
    height: 10px;
    background: #fd7e14;
    border-radius: 50%;
    box-shadow: 0 0 0 3px #9bc4f3;
}

.timeline-blog ul li h3 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #000000;
}

.timeline-blog ul li h4 {
    margin: 0;
    padding: 0;
    font-weight: 600;
    color: #ffffff;
}

.timeline-blog ul li p {
    margin: 10px 0 0;
    padding: 0;
    color: #000000;
}

.timeline-blog ul li .time-blog{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.timeline-blog ul li:nth-child(odd) .time-blog {
    position: absolute;
    top: 12px;
    right: -245px;
    margin: 0;
    padding: 8px 16px;
    background: #fd7e14;
    color: white;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #a7c9f7;
}

.timeline-blog ul li:nth-child(even) .time-blog {
    position: absolute;
    top: 12px;
    left: -265px;
    margin: 0;
    padding: 8px 16px;
    background: #fd7e14;
    color: white;
    border-radius: 18px;
    box-shadow: 0 0 0 3px #a7c9f7;
}

// responsive

@media (max-width: 1000px) {
    .timeline-blog {
        width: 100%;
    }
}

@media (max-width: 767px) {

    .h5-blog {
        color: black;
        text-align: center;
        font-size: 40px;
        padding: 0 20px;
    }

    .timeline-blog {
        width: 100%;
        padding-bottom: 0px;
    }

    .timeline-blog:before {
        left: 20px;
    }

    .timeline-blog ul li:nth-child(odd),
    .timeline-blog ul li:nth-child(even) {
        width: 100%;
        text-align: left;
        padding-left: 50px;
        padding-bottom: 50px;

    }

    .timeline-blog ul li:nth-child(odd):before,
    .timeline-blog ul li:nth-child(even):before {
        top: -18px;
        left: 16px;
    }

    .timeline-blog ul li:nth-child(odd) .time-blog,
    .timeline-blog ul li:nth-child(even) .time-blog {
        top: -30px;
        left: 50px;
        right: inherit;
    }
}