h1 {
    display: inline;
    font-size: 4vw;
  }
h2 {
    font-size: 2vw;
  }
h3{
  font-size: 2vw;
}
h4{
  font-size: 2vw;
}
p {
  color: black;
}
.contenedor{
    text-align: center;
  }
.img-modal {
  width: 200px;
  height: 200px; 
  display: block;
  margin-left: auto;
  margin-right: auto
}

  


