h1 {
    display: inline;
    font-size: 4vw;
  }
h2 {
    font-size: 2vw;
  }
h3{
  font-size: 2vw;
}
h4{
  font-size: 2vw;
}
.contenedor{
    text-align: center;
  }
.btn-primary {
 background-color: orange; 
 border-color: orange;
}
.conteiner_ye{
  background: url(../../../assets/fondooo.PNG);;
 }