<div class="card mt-5 mb-5 rounded">
  <div class="card-body">
    <div class="text-center">
      <a class="black btn-base" style="color: white; position:relative; top:50%;">CARRERAS PROFESIONALES</a>
    </div><br>
    <div class="row" align="center">
      <div class="col-lg-4">
        <img src="../../../assets/admin.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Administración</a>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/aerom.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Azafata</a>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/arqui.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Arquitectura</a>
      </div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-lg-4">
        <img src="../../../assets/chef.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Gastronomía</a>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/leyes.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Derecho</a>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/market.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Marketing</a>
      </div>
    </div>
    <br>
    <div class="row" align="center">
      <div class="col-lg-4">
        <img src="../../../assets/medic.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Medicina</a>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/pilot.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Aviación</a>
      </div>
      <div class="col-lg-4">
        <img src="../../../assets/polic.png" class="rounded-circle" alt="Cinque Terre" width="50%"><br>
        <a class="btn btn-outline-info" href="#" role="button">Policía</a>
      </div>
    </div>
  </div>
</div>