@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


$bg-color:#118dc1;
// $navbar-bg-color : #007657;
// $navbar-color:#F2F3EF;
// $sidebar-bg-color:#fff;

body {
    font-family: 'Poppins','Roboto', sans-serif;
    font-size: .9rem;
    // background-color:  white;
}


  


