<footer class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">tucarrera
            <img src="../../../assets/Logopet.png" width="3%" alt=""> perú
        </h5>
        <p>¡La mejor decisión para tu vida la tomarás hoy!</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase">Nosotros</h5>

        <ul class="list-unstyled">
          <li>
            <a [routerLink]="[ '/contacto' ]">Contáctanos</a>
          </li>
          <li>
            <a [routerLink]="[ '/blog' ]">Blog</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© 2020 Tu carrera perú:
    <a [routerLink]="[ '/' ]"> tucarreraperu.com</a>
  </div>


</footer>